<div class="row">
  <div class="col-xs-6">
    <button class="btn btn-success mb-10" (click)="onNewRecipe()">
      New Recipe
    </button>
  </div>
  <div class="col-xs-6">
    <button
      class="btn btn-danger mb-10"
      (click)="onDeleteRecipe()"
      *ngIf="recipes.length > 0"
    >
      Delete Recipes
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
