.btn {
  margin-bottom: 6px;
}
.btn-success {
  margin-right: 6px;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
.image-responsive {
  max-height: 350px;
  width: 150px;
}